<!DOCTYPE html>
<html ng-app>
<head>
    <title>Your Shopping Cart</title>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-controller="carController">
<hr/>
    <h1>You Order</h1>
    <!--item列表-->
    <div ng-repeat="item in items">
        <span>{{item.title}}</span>
        <input ng-model='item.quantity'/>
        <!--currency为货币-->
        <span>{{item.price | currency}}</span>
        <span>{{item.price * item.quantity | currency}}</span>
        <!--$index是itme的序号-->
        <button ng-click="remove($index)"> Remove </button>
    </div>
<hr/>
    <div ng-controller="testController">
        <h1>{{message.someText}}</h1>
    </div>
</body>
</html>