<style>
    /** 设置外层布局 **/
    div.common-set{
        width: 100%;
        height:100%;
        min-height: 700px;
        margin-bottom:15px;
        /*overflow-x: auto;*/
    }

    /** 设置标题布局 **/
    div.common-set-title{
        margin-top:10px;
        height:  30px;
    }
    /** 操作按钮组  **/
    div.common-set-top-btn{
        float: right;
        font-size: 14px;
        margin-right: 5px;
        margin-top: 5px;
        cursor:pointer;
    }
    /** 设置标题字体样式  **/
    div.common-set-title >span{
        width: 200px;
        font-size: 14px;
        height: 30px;
        color: #FFFFFF;
        float: left;
        background-color:#00A65A;
    }
    /****/
    div.form-group .set-bg{
        background-color: #00A65A;
    }

    div.common-set-mid-left{
        min-width:450px;
        margin-bottom: 20px
        height:600px;
    }

    div.common-set-wrapper-md{
        height:610px;
        overflow-y: scroll;
        border: 1px solid  #cccccc;
    }

    div.common-set-mid-right{
        height:100%;
        margin-top: 40px;
        margin-left: 15px;
        min-width:345px;
        border:1px solid #cccccc;
    }
    .setLabel{
        text-align: left !important;
    }
    .error{
        color:red;

    }
    li {
        list-style-type:none;
    }
</style>
<!--设置联动类 -->
<toaster-container toaster-options="{'position-class':'toast-bottom-right','time-out': 2000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
<div class="common-set"  ng-controller="CommonSetLinkageController">
    <div class="row">
        <div class="col-lg-5 col-md-3 col-sm-12  common-set-mid-left">
            <div class="common-set-title">
                <span style="float: left;"><div style="text-align:center;margin-top:5px;margin-left: 13px " ng-bind="sensor_name"></div></span>
                <user-permission code="30">
                    <div class="common-set-top-btn" ng-click="del()">
                        <i class="glyphicon glyphicon-trash "></i>
                        <span>删除</span>
                    </div>
                </user-permission>
                <user-permission code="20">
                    <div class="common-set-top-btn"  ng-click="edit()">
                        <i class="icon-edit  "></i>
                        <span>编辑</span>
                    </div>
                </user-permission>
                <user-permission code="40">
                    <div class="common-set-top-btn" ng-click="add()">
                        <i class="icon-plus-sign-alt"></i>
                        <span>新建</span>
                    </div>
                </user-permission>
            </div>
            <div class="common-set-wrapper-md table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th width="2%" class="text-center">
                            <label class="radio-inline i-checks i-checks-xs i-set-sensor" style="">
                                <input type="checkbox"  ng-model="allChecked" ng-change="checkAll(allChecked)"/>
                                <i style=""></i>
                            </label>
                        </th>
                        <!--<th width="10%" class="text-center">模式</th>-->
                        <th width="10%" class="text-center">开始时间</th>
                        <th width="10%" class="text-center">结束时间</th>
                        <th width="10%" class="text-center">启用状态</th>
                    </tr>
                    <tr></tr>
                    </thead >
                    <tbody >
                    <tr  ng-repeat="d in data" ng-click="checkSingle(d)" ng-class="{success: d.$checked}">
                        <td class="text-center">
                            <label class="radio-inline i-checks i-checks-md i-set-sensor" data-ng-click="checkSingle(d)">
                                <input type="checkbox" id="{{d.id}}" ng-model="d.$checked"/>
                                <i></i>
                            </label>
                        </td>
                        <!--<td class="text-center" >{{d.begintime}}</td>-->
                        <td class="text-center" >{{d.begintime}}</td>
                        <td class="text-center">{{d.endtime}}</td>
                        <td class="text-center">{{d.isenable | isOrBoot }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12  common-set-mid-right panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal " id="setLinkage_form" method="post">
                   <!-- <div class="form-group">
                        <label for="begintime" class="col-md-2 control-label setLabel">时段</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control"  readonly="readonly"
                                   id="begintime"
                                   name="begintime"
                                   datetimepicker
                                   datetimepicker-options="{widgetPositioning:{horizontal: 'left',vertical: 'auto'},keepOpen:true,format:'HH:mm',ignoreReadonly:true,showClose:true,showClear:true}"
                                   ng-model="linkage.begintime"
                                   style="cursor:auto;background-color: #fff;"
                                   >
                        </div>
                        <label for="endtime" class="col-md-1 control-label setLabel " style="text-align: center !important;">至</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control"  readonly="readonly"
                                   id="endtime"
                                   name="endtime"
                                   ng-model="linkage.endtime"
                                   datetimepicker
                                   datetimepicker-options="{format:'HH:mm',ignoreReadonly:true,showClose:true,showClear:true}"
                                   style="cursor:auto;background-color: #fff;">
                        </div>
                    </div>-->
                   <div class="form-group">
                        <label for="begintime" class="col-md-2  col-sm-2 control-label setLabel">时段</label>
                        <div class="col-md-3 col-sm-4">
                            <input type="text" class="form-control" name="begintime" ng-model="linkage.begintime" ng-readonly="true"  id="begintime" >
                        </div>
                        <label for="endtime" class="col-md-1 col-sm-1  control-label setLabel " style="text-align: center !important;">至</label>
                        <div class="col-md-3 col-sm-4">
                            <input type="text" class="form-control" id="endtime" name="endtime" style="" ng-model="linkage.endtime" ng-readonly="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="openlinkdeviceid" class="col-md-2 col-sm-2 control-label setLabel">打开条件</label>
                        <div class="col-md-3 col-sm-3 ">
                            <select class="form-control" id="openlinkdeviceid" name="openlinkdeviceid" ng-model="linkage.openlinkdeviceid" ng-options="c.id as c.deviceName for c in openLinkCondition1">
                                <option value="">--请选择--</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <select class="form-control" name="openlinkcondition" ng-model="linkage.openlinkcondition" ng-options="c.code as c.label for c in openLinkCondition2">

                            </select>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <input type="text" name="openlinkvalue" class="form-control" id="openlinkvalue" style="" ng-model="linkage.openlinkvalue" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="closelinkdeviceid" class="col-md-2 col-sm-2 control-label setLabel">关闭条件</label>
                        <div class="col-md-3 col-sm-3">
                            <select class="form-control" id="closelinkdeviceid" name="closelinkdeviceid" ng-model="linkage.closelinkdeviceid" ng-options="c.id as c.deviceName for c in closeLinkCondition1">
                                <option value="">--请选择--</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <select class="form-control" name="closelinkcondition" ng-model="linkage.closelinkcondition" ng-options="c.code as c.label for c in closeLinkCondition2">

                            </select>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <input type="text" class="form-control" name="closelinkvalue" id="closelinkvalue" style="" ng-model="linkage.closelinkvalue" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="waringpoint" class="col-md-2 col-sm-2 control-label setLabel">预警</label>
                        <div class="col-md-3 col-sm-4">
                            <input type="number" name="waringpoint" ng-model="linkage.waringpoint" class="form-control" id="waringpoint" placeholder="">
                        </div>
                        <label class="col-md-2 col-sm-2 control-label setLabel" style="text-align: center">预置点</label>
                    </div>
                    <div class="form-group">
                        <label for="resetpoint" class="col-md-2 col-sm-2 control-label setLabel">复位</label>
                        <div class="col-md-3 col-sm-4">
                            <input type="number" name="resetpoint" ng-model="linkage.resetpoint" class="form-control" id="resetpoint" placeholder="">
                        </div>
                        <label class="col-md-2 col-sm-2 control-label setLabel" style="text-align: center">预置点</label>
                    </div>
                    <div class="form-group">
                        <label for="isrecord" class="col-md-2 col-sm-2 control-label setLabel">是否录像</label>
                        <div class="col-md-8 col-sm-8">
                            <label class="radio-inline i-checks i-checks-md i-set-sensor">
                                <input type="radio" ng-model="linkage.isrecord" name="isrecord" id="isrecord"  value="0">
                                <i></i>
                                否
                            </label>
                            <label class="radio-inline i-checks i-checks-md i-set-sensor">
                                <input type="radio" ng-model="linkage.isrecord" name="isrecord"  value="1">
                                <i></i>
                                是
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-sm-2 control-label setLabel">预警信息叠加</label>
                        <div class="col-md-8 col-sm-8">
                            <label class="radio-inline i-checks i-checks-md i-set-sensor">
                                <input type="radio" ng-model="linkage.issum" name="issum"  value="0">
                                <i></i>
                                否
                            </label>
                            <label class="radio-inline i-checks i-checks-md i-set-sensor">
                                <input type="radio" ng-model="linkage.issum" name="issum"  value="1">
                                <i></i>
                                是
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-sm-2 control-label setLabel">循环周期</label>
                        <div class="col-md-10 col-sm-10">
                           <label ng-repeat="c in cycleTimes" class="checkbox-inline i-checks">
                                <input type="checkbox" class="" name="cycleTiems" ng-model="c.$checked" value="1"><i></i>{{c.label}}
                           </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-sm-2 control-label setLabel">启用状态</label>
                        <div class="col-md-8 col-sm-10">
                            <label class="radio-inline i-checks i-checks-md i-set-sensor">
                                <input type="radio" ng-model="linkage.isenable" name="isenable"  value="1">
                                <i></i>
                                启用
                            </label>
                            <label class="radio-inline i-checks i-checks-md i-set-sensor">
                                <input type="radio" ng-model="linkage.isenable" name="isenable"  value="0">
                                <i></i>
                                禁用
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-2">
                            <div class="error" style="margin-left: 45px;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-2" ng-show="editOrAddFlag === 1" style="margin-top:20px;margin-bottom: 20px;">
                            <div class="btn-group" style="margin-left: 45px;">
                                <button type="button" class="btn btn-success  btn-md" ng-click="validate();">
                                    保存
                                </button>
                                <button ng-click="cancel();" type="btn fa fa-close " class="btn btn-d  btn-md" style="margin-left: 10px;">
                                    取消
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
