<div class="expert-page row" ng-controller="expert" >

  <!-- content -->

  <div ng-include="'function/expert/right.html'" ></div>

  <div style="width: auto;margin-right: 400px;margin-left: 16px;">
    <div style="background-color: #f2f2f2;height: 58px;border:1px solid #d7d7d7;padding:11px;">
      <select required="" ng-model="f.b" class="form-control m-t" style="width: 80px;float: left">
        <option value="">全部</option>
        <option value="foo">预约通话</option>
        <option value="bar">在线咨询</option>
        <option value="bar">即时交流</option>
      </select>
      <select required="" ng-model="f.b" class="form-control m-t" style="width: 80px;float: left">
        <option value="">状态</option>
        <option value="foo">未服务</option>
        <option value="bar">已服务</option>

      </select>
      <span style="float: left;margin-left: 20px;margin-top:5px;">查询时间：</span>
      <input type="text" class="form-control" style="width: 80px;float: left">
      <span style="float: left;margin-top:5px;margin-left: 3px;margin-right: 3px;">至</span>
      <input type="text" class="form-control" style="width: 80px;float: left">

      <div style="float: right;width: 200px;">

        <input type="text" class="form-control" style="width: 153px;">

        <button type="button" class="btn btn-default" style="float: right;margin-top: -34px;background-color: #39bb7d;"> <font style="color: #fff;font-size: 12px;">搜索</font>
        </button>

      </div>

    </div>
    <div class="col-sm-12" style="margin-top: 20px;border-bottom:1px dashed #dedede;">
      <div class="col-sm-2" style="padding-bottom: 5px;">
        <a ui-sref="app.expert.expinfo"><img src="function/expert/img/exp.jpg"></a>
        <div style="float: right">
          <p><a ui-sref="app.expert.expinfo">张含生</a></p>
          云南省农科院
          <br>
          高级研究员
          <br>
          石斛种植
          <br></div>

      </div>
      <div class="col-sm-7" style="padding-bottom: 5px;padding-left: 30px;">
        接听电话：13854600000
        <br>
        专家您好：请问石斛种植的温湿度怎么控制？
        <br>
        150元/次 （最长20分钟）
        <br>
        预约时间：05-27  14:30
        <br></div>
      <div class="col-sm-3" style="text-align: right">
        预约通话
        <br>
        待服务
        <br>
        到计时：25分钟
        <br></div>
    </div>

       <div class="col-sm-12" style="margin-top: 20px;border-bottom:1px dashed #dedede;">
      <div class="col-sm-2" style="padding-bottom: 5px;">
        <img src="function/expert/img/exp.jpg">
        <div style="float: right">
          <p>张含生</p>
          云南省农科院
          <br>
          高级研究员
          <br>
          石斛种植
          <br></div>

      </div>
      <div class="col-sm-7" style="padding-bottom: 5px;padding-left: 30px;">
        接听电话：13854600000
        <br>
        专家您好：请问石斛种植的温湿度怎么控制？
        <br>
        150元/次 （最长20分钟）
        <br>
        预约时间：05-27  14:30
        <br></div>
      <div class="col-sm-3" style="text-align: right">
        预约通话
        <br>
        待服务
        <br>
        到计时：25分钟
        <br></div>
    </div>

       <div class="col-sm-12" style="margin-top: 20px;border-bottom:1px dashed #dedede;">
      <div class="col-sm-2" style="padding-bottom: 5px;">
        <img src="function/expert/img/exp.jpg">
        <div style="float: right">
          <p>张含生</p>
          云南省农科院
          <br>
          高级研究员
          <br>
          石斛种植
          <br></div>

      </div>
      <div class="col-sm-7" style="padding-bottom: 5px;padding-left: 30px;">
        接听电话：13854600000
        <br>
        专家您好：请问石斛种植的温湿度怎么控制？
        <br>
        150元/次 （最长20分钟）
        <br>
        预约时间：05-27  14:30
        <br></div>
      <div class="col-sm-3" style="text-align: right">
        预约通话
        <br>
        待服务
        <br>
        到计时：25分钟
        <br></div>
    </div>

       <div class="col-sm-12" style="margin-top: 20px;border-bottom:1px dashed #dedede;">
      <div class="col-sm-2" style="padding-bottom: 5px;">
        <img src="function/expert/img/exp.jpg">
        <div style="float: right">
          <p>张含生</p>
          云南省农科院
          <br>
          高级研究员
          <br>
          石斛种植
          <br></div>

      </div>
      <div class="col-sm-7" style="padding-bottom: 5px;padding-left: 30px;">
        接听电话：13854600000
        <br>
        专家您好：请问石斛种植的温湿度怎么控制？
        <br>
        150元/次 （最长20分钟）
        <br>
        预约时间：05-27  14:30
        <br></div>
      <div class="col-sm-3" style="text-align: right">
        预约通话
        <br>
        待服务
        <br>
        到计时：25分钟
        <br></div>
    </div>

  </div>

</div>