.expert-content {
	display: inline-block;
	width:100%;
}

.expert-content > div.search {
	display: block;
	width: 200px;
	height: 40px;
	min-width: 200px;
	float: right;
}

.expert-content > div.panel {
	display: block;
}

/*按屏幕分辨率加载不同的样式*/
@media screen and (max-width: 1182px) {

}

@media screen and (min-width: 1183px) {	


}

@media screen and (min-width: 1440px) {	


}