<!DOCTYPE html>
<html>
<head>
    <title>Simple app</title>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body>
<!--<div ng-controller="MyController">-->
<!--&lt;!&ndash; 对clock对象赋值 &ndash;&gt;-->
<!--&lt;!&ndash;<h1>Hello {{ clock }}</h1>&ndash;&gt;-->
<!--&lt;!&ndash; 对clock对象的属性赋值（最佳实现） &ndash;&gt;-->
<!--<h1>Hello {{ clock.now }}</h1>-->
<!--</div>-->

<!--<div ng-app="myApp">-->
    <!--<div ng-controller="myControl">-->
        <!--<h1>Hello {{ name }}</h1>-->
    <!--</div>-->
<!--</div>-->

<!--<div ng-app="myApp">-->
    <!--<div ng-controller="FirstController">-->
        <!--<h4>The simplest adding machine ever</h4>-->
        <!--<button ng-click="add()" class="button">+</button>-->
        <!--<button ng-click="subtract()" class="button alert">-</button>-->
        <!--<h4>Current count: {{ counter }}</h4>-->
    <!--</div>-->
<!--</div>-->

<!--<div ng-app="myApp">-->

    <!--<div ng-controller="MyController">-->
        <!--<h1>Name:{{ person.name }}</h1>-->
        <!--<h1>Age:{{ person.age }}</h1>-->
        <!--<h1>Sex:{{ person.sex }}</h1>-->
        <!--<h1>{{person}}</h1>-->
    <!--</div>-->
<!--</div>-->

<!--<div ng-app="myApp">-->
    <!--<div ng-controller="ParentController">-->
        <!--<div ng-controller="ChildController">-->
            <!--<button ng-click="sayHello()">Say hello</button>-->
        <!--</div>-->
        <!--{{ person }}-->
    <!--</div>-->
<!--</div>-->


<div ng-app="myApp">
    <div ng-controller="MyController">
        <input ng-model="expr"
               type="text"
               placeholder="Enter an expression" />
        <div>{{ parsedExpr }}</div>
    </div>
</div>

</body>
</html>























