<style type="text/css">
	.modal-lg {
		width: 930px !important;
	}
	
	.btnNomal {
		border-radius: 0px;
		color: #FFFFFF;
		width: auto;
		height: 30px;
		background: #00A65A;
		border: none;
		padding: 5px 15px;
	}
	
	.btnDefault {
		border-radius: 0px;
		color: #888888;
		width: auto;
		height: 30px;
		border: 1px solid #E7E9E8;
		padding: 5px 15px;
		background: #FFFFFF;
	}
	
	#groupForm .form-control {
		border-radius: 0;
		box-shadow: none;
		height: 30px;
		line-height: 30px;
	}
	.menuList .btn-sm{
		background: none;
		border: none;
		box-shadow: 0;
	}
	.menuList .btn-sm:hover{
		border: none;
		box-shadow: 0;
	}
	.my-invalid{border: 1px solid red;}
</style>
 <toaster-container toaster-options="{'position-class':'toast-bottom-right','time-out': 1500, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
 <div class="dialog-panel" app-controller="deviceSetGroupCtrl">
	<div class="dialog-top-bar">
		<div class="dialog-close-btn" ng-click="cancel();"></div>
		<div class="dailog-title">
			<span class="split">&gt;</span>
			<span class="title">分组设置</span>
		</div>
	</div>
	<div class="dialog-content">
		<div class="panel-body">

			<form  class="form-horizontal acp-form-check " id="setgroup_form"   name="form_data" ng-submit="saveData(form_data.$valid)" novalidate>

				<div class="form-group">
					<label class="col-sm-3 pull-left"> <b>2、分组设置</b></label>
					<div class="col-sm-9 pull-right">
						<div style="float: right;height: 29px;width: 226px;background-image: url(function/monitor/static/image/device_right2.png);">
							<label style="padding-top: 4px;padding-left: 20px;">1、分组信息</label>
							<label style="padding-left: 20px;color: #fff">2、分组设置</label>
						</div>
					</div>

				</div>
				<div class="row menuList">
					<div class="col-sm-8" style="background:white">
						<a type="text" class="btnNomal">{{groupnames}}</a>
						<a class="btn btn-default btn-sm" ng-click="delListData()" style="float: right;border-width: 0px; box-shadow: 0 0 0 0;font-size: 14px;"> <i class="glyphicon glyphicon-trash"></i> 删除
						</a>
						<a class="btn btn-default btn-sm" ng-click="editData()" style="float: right;border-width: 0px; box-shadow: 0 0 0 0;font-size: 14px;">
							<i class="glyphicon glyphicon-edit"></i> 编辑
						</a>
						<a class="btn btn-default btn-sm" ng-click="newDate()" style="float: right;border-width: 0px;  box-shadow: 0 0 0 0;font-size: 14px;">
							<i class="glyphicon glyphicon-file"></i> 新建
						</a>

					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-8"></div>
				</div>
				<div class="col-sm-8" style="border:1px solid #e7e9e8;height: 300px;width:520px;padding-left: 0px;">

					<div style="height:300px;width: 518px;overflow-y: scroll;">
						<table class="table table-striped groupTable">
							<thead>
								<tr style="font-weight: normal;">
									<th>
										<label class="i-checks i-checks-sm i-set-sensor">
		                                <input type="checkbox" ng-model="allId" name="allId"  ng-click="choseAll(allId)">
		                                <i></i>
		                            </label>
									</th>
									<th>临近值</th>
									<th>大小比较</th>
									<th>开始时间</th>
									<th>结束时间</th>
									<th>启用状态</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="groplist in getGroupList">
									<td>
										<label class="i-checks i-checks-sm i-set-sensor">
		                                <input type="checkbox" ng-model="groplist.check" name="deviceId" value="{{groplist.id}}">
		                                <i></i>
		                            </label>
									</td>
									<td>{{groplist.propertyvalue}}</td>	
									<td>{{groplist.operate==1 ? "大于" : "小于"}}</td>
									<td>{{groplist.begintime}}</td>
									<td>{{groplist.endtime}}</td>
									<td>{{groplist.isenabled == 1 ? '启用' : '禁用'}}</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
				<div class="col-sm-4" style="border:1px solid #e7e9e8;height: 300px;float: right;padding-top: 20px;width: 366px;padding-left: 24px;" id="groupForm">
					<div class="form-group">
						<label class="col-sm-2 control-label" style="padding-right: 0px;padding-left: 5px;">临界值</label>
						<div class="col-sm-10">
							<input type="text" ng-minlength="-20" ng-minlength="80" ng-disabled="disFlag"  ng-model="formData.propertyvalue" required="" class="form-control"  style="cursor: default;width: 100px;">
							<div style="font-size: 10px;color: #bbb">范围：-40°C~80°C</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" style="padding-right: 0px;padding-top: 0px;padding-left: 0px;">大小比较</label>
						<div class="col-sm-10">
							<label class="i-checks i-checks-sm i-set-sensor">
                                <input type="radio" name="operate" value="1" ng-disabled="disFlag" style="cursor: default" ng-model="formData.operate">
                                <i></i>
                                大于
                            </label>
							<label class="i-checks i-checks-sm">
                                <input type="radio" name="operate" value="0" ng-disabled="disFlag" ng-model="formData.operate" style="cursor: default">
                                <i></i>
                                小于
                            </label>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label" style="padding-right: 0px;padding-left: 5px;">时段</label>
						<div class="col-sm-10">
							<div class="row">
								<div class="col-sm-5" style="width: 130px;padding-right: 5px;">
									<input type="text" ng-model="formData.begintime" class="form-control" ng-disabled="disFlag" id="t_from" required="" ng-readonly="true" style="cursor: default"></div>
								<div class="col-sm-1" style="padding-left:5px;padding-top: 3px;">至</div>
								<div class="col-sm-5" style="width: 130px;padding-left: 5px;padding-right: 0px;">
									<input type="text" ng-model="formData.endtime" required="" ng-disabled="disFlag" class="form-control" id="t_to" ng-readonly="true" style="cursor: default"></div>
							</div>
						</div>

					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label" style="padding-right: 0px;padding-top: 0px;padding-left: 0px;">启用状态</label>
						<div class="col-sm-10">
							<label class="i-checks i-checks-sm i-set-sensor">
                                <input type="radio" name="enable" value="1" ng-disabled="disFlag" ng-model="formData.isenabled">
                                <i></i>
                                启用
                            </label>
							<label class="i-checks i-checks-sm">
                                <input type="radio" name="enable" value="0" ng-disabled="disFlag" ng-model="formData.isenabled">
                                <i></i>
                                禁用
                            </label>
						</div>
					</div>
					<div ng-hide="isShowBtn" class="row text-center" style="padding-top: 20px;">
						<button type="submit"  class="btnNomal">添加</button>
						<button type="reset" class="btnDefault" style="margin-left: 10px;" ng-click="isCancel()">取消</button>
					</div>
					<div ng-hide="isShowedit" class="row text-center" style="padding-top: 20px;">
						<button type="submit" ng-click="upData()" class="btnNomal">保存</button>
						<button type="reset" class="btnDefault" style="margin-left: 10px;" ng-click="isCancel()">取消</button>
					</div>
				</div>

			</form>

		</div>
	</div>
</div>
<script type="text/javascript">
	$.fn.datetimepicker.dates['zh-CN'] = {
		days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期日"],
		daysShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六", "周日"],
		daysMin: ["日", "一", "二", "三", "四", "五", "六", "日"],
		months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
		monthsShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
		today: "今天",
		suffix: [],
		meridiem: ["上午", "下午"]
	};
	$("#t_from").datetimepicker({
		format: 'hh:ii',
		language: 'zh-CN',
		weekStart: 1,
		todayBtn: 1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 1,
		minuteStep: 1,
		minView: 0,
		maxView: 1,
		forceParse: 0
	});
	$("#t_to").datetimepicker({
		format: 'hh:ii',
		language: 'zh-CN',
		weekStart: 1,
		todayBtn: 1,
		autoclose: 1,
		todayHighlight: 1,
		minuteStep: 1,
		startView: 1,
		minView: 0,
		maxView: 1,
		forceParse: 0
	});
</script>