<!DOCTYPE html>
<html ng-app = "myApp">
<head>
    <title></title>
    <meta charset="utf-8">
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <link rel="stylesheet" href="bootstrap3/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="css/myStyle.css" type="text/css" />
</head>
<body>
<div style="margin-top: 30px" class="container" ng-controller="productContorller">
    <h3>根据输入框的绑定模型来进行数据过滤</h3>
    <hr/>
    <nav class="navbar navbar-default">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" ng-model="search" class="form-control" placeholder="Search">
            </div>

        </form>
    </nav>
    <h4 style="color: green">对item所有字段进行过滤 ng-repeat="item in products | filter:search"</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>产品编号</th>
                <th>产品名字</th>
                <th>购买数量</th>
                <th>产品单价</th>
                <th>产品总价</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in products | filter:search">
                <td ng-bind="item.id"></td>
                <td ng-bind="item.name"></td>
                <td ng-bind="item.quantity"></td>
                <td ng-bind="item.price"></td>
                <td ng-bind="item.quantity * item.price"></td>
            </tr>
        </tbody>
    </table>
    <hr/>

    <nav class="navbar navbar-default">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" ng-model="search" class="form-control" placeholder="Search">
            </div>
        </form>
    </nav>

    <h4 style="color: green">对item的指定字段进行过滤 ng-repeat="item in products | filter:{id:search}"</h4>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>产品编号</th>
            <th>产品名字</th>
            <th>购买数量</th>
            <th>产品单价</th>
            <th>产品总价</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in products | filter:{id:search}">
            <td ng-bind="item.id"></td>
            <td ng-bind="item.name"></td>
            <td ng-bind="item.quantity"></td>
            <td ng-bind="item.price"></td>
            <td ng-bind="item.quantity * item.price"></td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <hr/>
    <h3>对商品列表进行过滤+排序</h3>
    <hr/>
    <nav class="navbar navbar-default">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" ng-model="search" class="form-control" placeholder="Search">
            </div>

        </form>
    </nav>
    <h4 style="color: green">ng-repeat="item in products | filter:search | orderBy:order+orderType"</h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <!--当order为'-'时，显示为向上的三角形-->
            <th ng-class="{dropup:order==''}" ng-click="changeOrder('id')">
                产品编号<span ng-class="{orderColor:orderType==='id'}"  class="caret"></span>
            </th>
            <th ng-class="{dropup:order==''}" ng-click="changeOrder('name')">
                产品名字<span ng-class="{orderColor:orderType==='name'}" class="caret"></span>
            </th>
            <th ng-class="{dropup:order==''}" ng-click="changeOrder('quantity')">
                购买数量<span ng-class="{orderColor:orderType==='quantity'}" class="caret"></span>
            </th>
            <th ng-class="{dropup:order==''}" ng-click="changeOrder('price')">
                产品单价<span ng-class="{orderColor:orderType==='price'}" class="caret"></span>
            </th>
            <th ng-class="{dropup:order==''}" ng-click="changeOrder('quantity * price')">
                产品总价<span ng-class="{orderColor:orderType==='quantity * price'}" class="caret"></span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in products | filter:search | orderBy:order+orderType">
            <td ng-bind="item.id"></td>
            <td ng-bind="item.name"></td>
            <td ng-bind="item.quantity"></td>
            <td ng-bind="item.price"></td>
            <td ng-bind="item.quantity * item.price"></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>