<div class="container">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h4>WebSocket发送和接收数据</h4>
    </div>
    <div class="panel-body">
      <button type="button" class="btn btn-success" (click)="sendMessageToServer()">发送数据</button>
    </div>
    <div class="panel-body">
      <textarea [(ngModel)]="message" style="resize:none" class="form-control" rows="5"></textarea>
    </div>
    <div class="panel-footer">
      <span>
        {{responseMsg}}
      </span>
    </div>
  </div>
</div>