<!DOCTYPE html>
<html ng-app = "myApp">
<head>
    <meta charset="UTF-8">
    <title>Your Shopping Cart</title>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
<hr/>
<h1>隐藏和显示</h1>
<div ng-controller="DeathrayMenuController">
    <button ng-click='toggleMenu()'>Toggle Menu</button>
    <ul ng-show='menuState.show'>
        <li class="menu-disabled-{{isDisable}}" ng-click='stun()'>Stun</li>
        <li ng-click='disintegrate()'>Disintegrate</li>
        <li ng-click='erase()'>Erase from history</li>
    </ul>
</div>
<hr/>
<h1>控制样式</h1>
<div ng-controller='cssController'>
    <div ng-class='{error: isError, warning: isWarning}'>{{messageText}}</div>
    <button ng-click='showError()'>Simulate Error</button>
    <button ng-click='showWarning()'>Simulate Warning</button>
</div>

<hr/>
<h1>高亮行样式</h1>
<div ng-controller='lineHightlightController'>
    <table >
        <tr ng-repeat="restaurant in directory"
            ng-click='selectRestaurant($index)'
            ng-class='{selected: $index==selectedRow}'>
            <td>{{restaurant.name}}</td>
            <td>{{restaurant.cuisine}}</td>
        </tr>
    </table>
</div>

<hr/>
<h1>src和href属性的Angularjs设置方法</h1>
<div ng-controller="srchrefController">
    <h3>点击小球，改变图片</h3>
    <img ng-src="img/{{candy}}" ng-click="imgClick()">
</div>

</body>
</html>